/* ---------------- HEADER SUPERIOR ---------------- */

.eventos-header {
  width: 100%;
  background: #FF9940;
  height: 70px; /* altura fixa */
  display: flex;
  align-items: center;
  padding: 0 22px; /* padding apenas nos lados */
  border-radius: 0 0 12px 12px;
  color: #fff;
  box-sizing: border-box;
}

.eventos-header h1 {
  margin: 0;
  font-size: 26px;
  font-weight: bold;
  color: #fff;
}


/* ---------------- CONTAINER ---------------- */

.eventos-container {
  min-height: calc(100vh - 70px); /* agora bate certinho */
  background: #FFFBDA;
  padding: 25px;
  overflow-y: auto; 


.top-actions {
  margin-bottom: 15px;
}

.btn-refresh {
  background: #FFAC50;
  border: none;
  padding: 10px 16px;
  border-radius: 10px;
  cursor: pointer;
  font-weight: bold;
  color: #733025;
  box-shadow: 0 2px 3px rgba(0,0,0,0.15);
  transition: 0.2s;
}

.btn-refresh:hover {
  background: #F3722C;
  color: white;
}


/* ---------------- LISTA DE EVENTOS ---------------- */

.eventos-lista {
  list-style: none;
  padding: 0;
  margin-top: 10px;
}

.evento-item {
  display: flex;
  background: #FFF;
  border-radius: 14px;
  padding: 18px;
  margin-bottom: 18px;
  border-left: 8px solid #FF9940;
  box-shadow: 0px 2px 4px rgba(0,0,0,0.12);
}

.evento-star {
  font-size: 26px;
  margin-right: 15px;
  color: #FF9940;
}

.evento-info h3 {
  margin: 0;
  color: #733025;
  font-size: 18px;
}

.descricao {
  margin: 6px 0;
  color: #785454;
}

.periodo {
  font-size: 14px;
  color: #836661;
}

.nenhum-evento {
  color: #733025;
  text-align: center;
  margin-top: 20px;
}


/* ---------------- ERRO ---------------- */

.erro-box {
  background: #FFE5E5;
  padding: 12px;
  margin: 10px;
  border-radius: 10px;
  color: red;
}
}